html, body {
  margin: 0;
  padding: 0;
}

body{
  background: url('https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg');
}

#myList{
 color: black
}

ul.nav > li a{
 color:black; 
 font-weight:bold;
 background: white
}

